body {
    font-family: "sans-serrif";
    background-position: center;
    color: red;
}

header {
    display: flex;
    flex-direction: column;
}

.header {
    border: 2px solid black;
}

.headimg {
    width: 65px;
    height: 65px;
    border: 2px solid red;
}

nav {
    height: 50px;
    background-color: bisque;
    display: flex;
    margin-bottom: 10px;
    border: 2px solid red;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    align-items: center;
    flex: 1;
}

nav a {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

aside {
    flex: 1;
    margin-left: 10px;
    background-color: bisque;
}

table {
    border: 2px solid black;
}