body {
    margin: 0 auto;
    font-family: "sans-serrif";
    background-position: center;
    color: red;
}

header {
    display: grid;
    background-color: aqua;
}

footer {
    margin-top: auto;
    background-color: cadetblue;
    height: 150px;
}

.header {
    border: 2px solid black;
}

.main-container {
    display: grid;
    grid-template-columns: 5;
    border: solid green;
    margin-bottom: 10px;
}

.main-content {
    display: grid;
    border: solid red;
    grid-column: 1 / 5;
    margin-left: 30px;
    width: 900px;
}


.aside-content {
    border: solid blueviolet;
    background-color: bisque;
    width: auto;
    grid-column: 5;
    margin-right: 30px;
    text-align: center;
}

.colorado-text {
    text-align: justify;
    grid-column: 1;
}

.table-caption {
    text-align: center;
}

table {
    text-align: center;
}

nav {
    height: 50px;
    background-color: bisque;
    display: flex;
    margin-bottom: 10px;
    border: 2px solid red;
}

nav ul {
    padding: 0;
    margin: auto;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav li button:hover {
    background-color: fuchsia;

}

#home:hover {
    background-color: brown;
}

nav a {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

aside {
    background-color: bisque;
}

table {
    border: 2px solid black;
}

.home-form {
    display: block;
    border: 2px solid peru;
    position: relative;

}

.img {
    float: left;
    margin: 5px;
}